<div>
<div align="center">
  <form>
  <input type="text" placeholder="Search by Name, Brewery, Style" required>
  <input type="button" value="Search">
</form>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
        <div class="panel panel-default">

  <div class="panel-heading">List of Beers</div>
  <div class="panel-body">
  </div>
  <table class="table table-striped">
    <tr>
            <th>Name</th>
            <th>Brewery</th>
            <th>Type of Beer</th>
          </tr>
          <% @beers.each do |beer| %>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <<td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          </table>
      </div>
      </div>
        <div class="col-md-6">
        <div class="panel panel-default">

  <div class="panel-heading">Beers selected</div>
  <div class="panel-body">
  </div>
  <table class="table table-striped">
          <tr>
            <th>Beer</th>
            <th>Brewery</th>
            <th>Type of Beer</th>
          </tr>
          <% @beers.each do |beer| %>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery %></td>
            <td><%= beer.beer_type %></td>
          </tr>
  </table>
</div>
</div>
    </div>
</div>

<div>
<div align="right">
<form>
  <input class="btn btn-default" type="submit" value="Submit">
</form>
</div>
end


