<div class="jumbotron main-jumbo">
  <div class="container">

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 all-beer-table">
          <h2>All Beer</h2>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Brewery</th>
              <th>Type</th>
            </tr>
            <% @beers.each do |beer| %>
            <tr>
              <td><%= beer.name %></td>
              <td><%= beer.brewery %></td>
              <td><%= beer.beer_type %></td>
            </tr>
            <% end %>
          </table>
        </div>

        <div class="col-md-6 my-beer-table">
          <h2>My Beer</h2>
          <table class="table">
            <table class="table">
            <tr>
              <th>Name</th>
              <th>Brewery</th>
              <th>Type</th>
            </tr>
            <% @first_beers.each do |beer| %>
            <tr>
              <td><%= beer.name %></td>
              <td><%= beer.brewery %></td>
              <td><%= beer.beer_type %></td>
            </tr>
            <% end %>
          </table>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <%= form_tag beer_matches_path do %>
        <%= text_field_tag 'beer', nil, class: "form-control",
                            placeholder: "What beer did you find?" %>
        <%= text_field_tag 'location', nil, class: "form-control",
                            placeholder: "Where was it?" %>
        <%= submit_tag value = "Leave tip", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>

<div id="map"></div>

<style type="text/css">
  #map {
    height: 700px;
    border: 1px solid #000;
  }
</style>

<script type="text/javascript">
  window.DataSet = <%= @locations.to_json.html_safe %>;

  window.onload = function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var currentPosition = new google.maps.LatLng(
          position.coords.latitude,
          position.coords.longitude
        );

        var map = new google.maps.Map(document.getElementById('map'), {
          center: currentPosition,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        for (var i = 0; i < window.DataSet.length; i++) {
          var place = window.DataSet[i];
          var position = new google.maps.LatLng(place.latitude, place.longitude);

          var marker = new google.maps.Marker({
              position: position,
              map: map,
              draggable: false
          });
        };
      });
    }
  };
</script>
>>>>>>> 4bcc9078d5a78e6fad501a7a98ba4f33dfff91cc
