<div class="dashboard">
  <div id="map">
  </div>
  <div class="top-left">
    <table class="table top-left-table">
      <tr>
        <th>Name</th>
        <th>Brewery</th>
        <th>Type</th>
      </tr>
      <% @first_beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.brewery %></td>
        <td><%= beer.beer_type %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="bottom-left">
    <table class="table bottom-left-table">
      <tr>
        <th>Name</th>
        <th>Brewery</th>
        <th>Type</th>
      </tr>
      <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.brewery %></td>
        <td><%= beer.beer_type %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <%= form_tag beer_matches_path, class: "bottom-right" do %>
    <%= text_field_tag 'beer', nil, class: "form-control",
                        placeholder: "What beer did you find?" %>
    <%= text_field_tag 'location', nil, class: "form-control",
                        placeholder: "Where was it?" %>
    <%= submit_tag value = "Leave a tip!", class: "btn btn-primary" %>
  <% end %>
</div>

<script type="text/javascript">
  window.Locations = <%= @locations.to_json.html_safe %>;
</script>
