<div class="jumbotron main-jumbo">
  <div class="container">

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 all-beer-table">
          <h2>All Beer</h2>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Brewery</th>
              <th>Type</th>
            </tr>
            <% @beers.each do |beer| %>
            <tr>
              <td><%= beer.name %></td>
              <td><%= beer.brewery %></td>
              <td><%= beer.beer_type %></td>
            </tr>
            <% end %>
          </table>
        </div>

        <div class="col-md-6 my-beer-table">
          <h2>My Beer</h2>
          <table class="table">
            <table class="table">
            <tr>
              <th>Name</th>
              <th>Brewery</th>
              <th>Type</th>
            </tr>
            <% @first_beers.each do |beer| %>
            <tr>
              <td><%= beer.name %></td>
              <td><%= beer.brewery %></td>
              <td><%= beer.beer_type %></td>
            </tr>
            <% end %>
          </table>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <%= form_tag beer_matches_path do %>
        <%= text_field_tag 'beer', nil, class: "form-control",
                            placeholder: "What beer did you find?" %>
        <%= text_field_tag 'location', nil, class: "form-control",
                            placeholder: "Where was it?" %>
        <%= submit_tag value = "Leave tip", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
